<div class="row">
    <button mat-button color="primary" aria-label="Nueva empresa">
        Nuevo
    </button>
</div>
<table mat-table [dataSource]="resultados">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nombreCompania">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreCompania}} </td>
    </ng-container>

    <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef> Dirección </th>
        <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
    </ng-container>

    <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> Telefono </th>
        <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
    </ng-container>

    <ng-container matColumnDef="telefono2">
        <th mat-header-cell *matHeaderCellDef> Telefono 2 </th>
        <td mat-cell *matCellDef="let element"> {{element.telefono2}} </td>
    </ng-container>

    <!-- Star Column -->
    <ng-container matColumnDef="accion" stickyEnd>
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
            <button mat-mini-fab color="primary">
                <mat-icon>edit</mat-icon>
            </button>

            <button mat-mini-fab color="accent">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
